@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.css-1hb7zxy-IndicatorsContainer {
  display: block !important;
}

.btn-outline-default {
  border: 1px solid #e5e9f2 !important;
}

.css-1rv6cxx-control {
  cursor: pointer !important;
}

.css-1rv6cxx-control:hover {
  background: #e5e9f2 !important;
}

.css-1hb7zxy-IndicatorsContainer:first-child {
  display: none !important;
}

/* change scrollbar style */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0984e3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #058cf3;
}